div.content
  h1.title New work coming soon.
  ul.link-list
    li.link-list__item
      a(href="https://dribbble.com/dmck0y") dribbble
    li.link-list__item
      a(href="http://dmckoyca.tumblr.com/") tumblr
    li.link-list__item
      a(href="https://www.pinterest.com/dmckoy85") pinterest
    li.link-list__item
      a(href="https://twitter.com/dmck0y") twitter
    li.link-list__item
      a(href="https://vimeo.com/dmckoy") vimeo
    li.link-list__item
      a(href="https://github.com/dmck0y") github