div.content
  h1.title New work coming soon.
  ul.link-list
    li.link-list__item
      a(href="https://twitter.com/dmck0y")
        svg.icon.icon-twitter
          use(xlink:href="#icon-twitter")
    li.link-list__item
      a(href="https://dribbble.com/dmck0y")
        svg.icon.icon-dribbble
          use(xlink:href="#icon-dribbble")
    li.link-list__item
      a(href="https://github.com/dmck0y")
        svg.icon.icon-github
          use(xlink:href="#icon-github")
    li.link-list__item
      a(href="https://www.pinterest.com/dmckoy85")
        svg.icon.icon-pinterest
          use(xlink:href="#icon-pinterest")
    li.link-list__item
      a(href="https://vimeo.com/dmckoy")
        svg.icon.icon-vimeo
          use(xlink:href="#icon-vimeo")
    li.link-list__item
      a(href="http://dmckoyca.tumblr.com/")
        svg.icon.icon-tumblr
          use(xlink:href="#icon-tumblr")
