@require '/node_modules/tachyons/src/_normalize.css'
@require '/node_modules/tachyons/src/_media-queries.css'
@require '/node_modules/tachyons/src/_base.css'
@require '/node_modules/tachyons/src/_box-sizing.css'
@require 'styles/colors'

.layout-container
  padding 0 2rem

  &--light
    background-color white

body
  font-family "sofia-pro-1", "sofia-pro-2", "Helvetica"
  font-size 16px 
  background #ececec
  color dark-grey
  margin 0

.icon 
  display inline-block
  width 1.25rem
  height 1.25rem
  fill currentColor
  transition color 350ms ease

  &:hover, &:focus
    color charcol 

.icon-twitter,
.icon-dribbble,
.icon-github,
.icon-linkedin,
.icon-vimeo,
.icon-pinterest,
.icon-tumblr 
  color dark-grey
  opacity .5

.icon.icon-tumblr
  width 1.15rem

.content 
  padding-top 3rem
   
  .title 
    font-size 4rem
    line-height 1
    position relative
     
    &:before 
      content ''
      display inline-block
      position relative
      background-color dark-grey
      bottom 0.4rem
      vertical-align middle
      height 0.6rem
      margin-right 1.5rem
      width 76%; 
    
  .link-list
    position absolute
    bottom .5rem
    list-style none 
    margin 8rem 0 0
    padding 0
    
    &__item 
      display inline-block
      
      & a
        display inline-block
        color dark-grey
        font-size 1rem
        font-weight 300
        padding .1rem .5rem .2rem
        text-decoration none

@require 'styles/header'
//@require 'styles/footer'